.wrapper {
  flex: 1;
  box-sizing: border-box;
  background: var(--ds-bg-card, #222427);
  border: 1px solid var(--ds-divider, rgba(255, 255, 255, 0.2));
  border-radius: 8px;
  overflow: hidden;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1000;
  border-radius: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  /* background: var(--ds-bg-header); */
  border-bottom: 1px solid var(--ds-divider, rgba(255, 255, 255, .2));
  border-radius: 8px 8px 0 0;
}

.headerTitle {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
}

.headerExtra {
  display: flex;
  align-items: center;
  gap: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
